{% extends 'frontend/base.html.twig' %}

{% block body %}

    <section class="my-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Seznam útulků{% if category %} {{ category.nameInAkuzativ }}{% endif %}</h1>

                    <div class="jumbotron">
                        {% form_theme filterForm 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(filterForm) }}
                        <div class="row">
                            <div class="col-md-4">{{ form_row(filterForm.regions) }}</div>
                            <div class="col-md-4">{{ form_row(filterForm.districts) }}</div>
                            <div class="col-md-4">{{ form_row(filterForm.municipalities) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">{{ form_row(filterForm.categories) }}</div>
                            <div class="col-md-4">{{ form_row(filterForm.perPage) }}</div>
                            <div class="col-md-4">{{ form_row(filterForm.sort) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_widget(filterForm.submit, {'attr': {'class': 'btn btn-primary btn-block'}}) }}
                            </div>
                        </div>
                        {{ form_end(filterForm) }}
                    </div>

                    {% if paginator.count > 0 %}
                        <ul>
                            {% for org in paginator.iterator %}
                                {# @var org \App\Entity\Organization\Organization #}
                                <li>{{ org.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-danger">
                            <h2>Je nám líto, ale nejsou zde žádné organizace.</h2>
                            <a href="{{ path('_app_organization_add') }}">Přidat organizaci &rarr;</a>
                        </div>
                    {% endif %}

                    {% if paginator.haveToPaginate %}
                        <div class="pagerfanta">
                            {{ pagerfanta(paginator, 'twitter_bootstrap4') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
