{% set _route = app.request.attributes.get('_route') %}

<header id="header-container">

    <div id="header">
        <div class="container">

            <div class="left-side">

                <div id="logo">
                    <a href="{{ path('_app_homepage') }}" title="Na hlavní stranu">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="MapaUtulku.cz" />
                    </a>
                </div>

                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
                    </button>
                </div>

                <nav id="navigation" class="style-1">
                    <ul id="responsive">
                        <li>
                            <a href="{{ path('_app_homepage') }}" class="{% if _route == '_app_homepage' %}current{% endif %}">
                                Domů
                            </a>
                        </li>

                        <li>
                            <a class="{% if _route == '_app_organizations_map' %}current{% endif %}" href="{{ path('_app_organizations_map') }}">
                                Mapa útulků
                            </a>
                        </li>

                        <li>
                            <a class="{% if _route == '_app_organizations_list' %}current{% endif %}" href="{{ path('_app_organizations_list') }}">
                                Seznam útulků
                            </a>
                        </li>

                        <li>
                            <a class="{% if _route == '_app_info_about' %}current{% endif %}" href="{{ path('_app_info_about') }}">
                                O projektu
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>

            <div class="right-side">
                <div class="header-widget">
                    <a href="{{ path('_app_organization_add') }}" class="button border with-icon">
                        Přidat útulek
                        <i class="sl sl-icon-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="clearfix"></div>
